<!--
  - REVISAR URL EN GITHUB QUE NO ESTA LLEVANDO A DONDE DEBERIA
  - IMAGEN DE NOTICIA DETALLE TOCA COLOCARLA

-->
<app-header></app-header>

<main>
   <!--  <div class="container__whatsapp">
      <img src="../../../assets/imgs/redes/whatsapp.png" alt="">
    </div> -->
    <section  class="banner">
      <div class="banner__maxmedia">
      <div class="banner__img">
        <img [src]="urlImgBanner" alt=""  id="imgBannerId">
      </div>

      <div class="banner__text">
        <div>

          <h1 class="maquina-escribir">HORACIO ESTRADA</h1>
          <h2>Usaquen</h2>


          <div class="container__numerales">
            <div class="numeral__1">
              <span>#Gestionconresultados</span>
            </div>
            <div class="numeral__2">

              <span>#Edilalbarrio</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <div   class="promo-periodico ">
      <!-- <img src="../../../assets/imgs/periodico.jpg" /> -->
      <div class="centrado">

        <a   class="hipervinculoUltimoPeriodico"href="{{ultimoPeriodico.url}}" target="_blank">
        <button class="btnDescargaPeriodicoActual" >
            <div>
              <h3>Descargar Periodico del mes</h3>
            </div>
            <div>
              <img src="../../../assets/imgs/periodico.png"  alt="">
            </div>
          </button>
        </a>
          </div>
    </div>
    <section class="mini__biografia">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <section class="mini__biografia--content">

        <div class="quien-soy">
          <a><h2 >¿Quien soy?</h2></a>
          <p>Es Periodista y actual Edil de Usaquén. Su aspiración es dejar huella en la sociedad en la cual ha vivido 30 años. Quiere diseñar una plataforma que vincule y defienda al denunciante, fomentar las escuelas de formación deportiva, la realización de ferias de empleo y emprendimiento en Usaquén.</p>
          <input type="button" value="Conoce su historia" class="btnBlue" (click)="cambiarUrl('noticia/detalle')">
        </div>
        <div class="mini-biografia__img">
          <div>
            <img src="https://firebasestorage.googleapis.com/v0/b/psicologiaconleila.appspot.com/o/horaciobanne2jpg.jpg?alt=media&token=1ab1aa19-d7b6-4c3d-9fd1-185cd3d11029" alt="">

          </div>


        </div>
      </section>

  </section>

  <section class="carrousel__container">
    <!-- <div class="carrousel"> -->
      <!-- <div *ngFor="let imgGalery of listaImgsGalery">
        <img src="{{imgGalery.url}}" alt="">
      </div> -->

    <!-- </div> -->
    <div class="carrusel">
      <div class="carrusel-items">
        <div class="carrusel-item"*ngFor="let imgGalery of listaImgsGalery">
          <img src="{{imgGalery.url}}" alt="" />
        </div>

      </div>
    </div>



  </section>

    <section class="notice__container">
      <div class="circle"></div>
    <!--   <div class="circle"></div>
      <div class="circle"></div> -->
      <div class="notice__title">
        <h2>Noticias</h2>
      </div>
      <section class="container__cards--notice" (click)="cambiarUrl('noticia/detalle')">
        <div class="card__notice">
          <div class="card__notice--img">
            <img src="https://firebasestorage.googleapis.com/v0/b/psicologiaconleila.appspot.com/o/pexels-edmond-dant%C3%A8s-7103129.jpg?alt=media&token=bdefaf7b-fada-4236-866b-bc3b637a925d" alt="">
          </div>
          <div>
            <h3>Docentes del Cauca montaron cambuches y se tomaron la entrada del Congreso: las imágenes son insólitas </h3>
            <p>20 septimbre 2023</p>
          </div>
        </div>

        <div class="card__notice" (click)="cambiarUrl('noticia/detalle')">
          <div class="card__notice--img">
            <img src="https://firebasestorage.googleapis.com/v0/b/psicologiaconleila.appspot.com/o/pexels-edmond-dant%C3%A8s-7103129.jpg?alt=media&token=bdefaf7b-fada-4236-866b-bc3b637a925d" alt="">
          </div>
          <div>
            <h3>Docentes del Cauca montaron cambuches y se tomaron la entrada del Congreso: las imágenes son insólitas </h3>
            <p>20 septimbre 2023</p>
          </div>
        </div>

        <div class="card__notice" (click)="cambiarUrl('noticia/detalle')">
          <div class="card__notice--img">
            <img src="https://firebasestorage.googleapis.com/v0/b/psicologiaconleila.appspot.com/o/pexels-edmond-dant%C3%A8s-7103129.jpg?alt=media&token=bdefaf7b-fada-4236-866b-bc3b637a925d" alt="">
          </div>
          <div>
            <h3>Docentes del Cauca montaron cambuches y se tomaron la entrada del Congreso: las imágenes son insólitas </h3>
            <p>20 septimbre 2023</p>
          </div>
        </div>


      </section>
      <div class="container__notice--btn" (click)="cambiarUrl('noticia')">
        <input type="button" value="Conoce más " class="btnBlue">
      </div>
    </section>

    <section class="banner__footer">

    </section>


</main>
<app-footer></app-footer>
