
.dashboard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dashboard__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  background-color: #dedede;
  color:#000000;
  position:fixed;
  top:0;
  width: 100%;
  z-index: 20;
  box-shadow: 0px 0px 10px #454545;
  font-family: 'Lato', sans-serif;
  /* max-width: 1400px; */
  margin:0 auto;
}
.dashboard__header--maxmedia{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin:auto;
  padding-left:25px;
}
.moduloContainer{
  text-transform: capitalize;
}
/*  HEADER BURGUER */

.header__menu ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu li{
  margin:0px 7px;
  list-style: none;
  cursor: pointer;
}
.header__menu li:nth-child(6){
  background-color: #454545;
  border-radius: 20px;
  padding:5px 15px;
  color:white;
}
/*  **********************************/
.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: 100%;
  transition: all .3s ease;
  background-color: #1d1d1de3;
  z-index: 380;
}
.displayNone{
  display: none !important;
}
.main-nav.show{
  margin-left: 0;
}
.nav-links{
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0px 25px 25px 0px / 0px 200px 200px 0px ;

}
.nav-links ul{
  list-style: none;
  margin-top: 30px;
}
.nav-links ul li{

  text-align: center;
  cursor: pointer;
  margin:35px 7px;
  font-size: 22px;
}
.nav-links li:nth-child(6){
  background-color: #454545;
  border-radius: 20px;
  padding:5px 15px !important;
  color:white;
}
.button-menu{
  z-index: 400;
  width: 35px;
  height: 35px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-right: 40px;
}
.button-menu span{
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #444444;
  border-radius: 3px;
  transform-origin: 5px 0px;
  transition: all .2s linear;
}
.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}
.button-menu.close span:nth-child(2){
  transform: rotate(-45deg) translate(-8px, 5px);
}
.button-menu.close span:nth-child(3){
  display: none;
}
.dashboard__create--btn{
  z-index: 300;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: blue;
  font-size: 50px;
  height: 50px;
  width: 50px;

  position:fixed;
  bottom: 0;
  margin:25px;
  right: 0;
  color:white;
  border: 3px solid white;
  padding:20px;
  border-radius: 100px;
  box-shadow: 0px 0px 8px #0b23ab;
}
.dashboard__create--btn:hover{
  background-color: #0000b9;
}
.create__slide{
  font-family: 'lato',sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -120%;
  transition: all .3s ease;
  background-color: #1d1d1dd4;

  z-index: 200;
}
.create__slide.show{
  margin-left: 0;

}
.create__slide--content{
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  width: 34%;
  height: 100%;
  position: absolute;
  right: 0;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px 0px 0px 20px / 150px 0px 0px 150px ;
}
.create__slide--content ul{
  list-style: none;
  margin-top: 30px;
}
.create__slide--content ul li{
  text-align: center;
  cursor: pointer;
  margin:35px 7px;
  font-size: 22px;
}
.dashboard__content{
  margin-top: 70px;
  padding:0 50px;
  width: 80%;
}
@media (max-width:700px) {
  .create__slide--content{
    width: 75%;
  }
  .nav-links{
    width: 80%;
  }
  .dashboard__content{
    margin-top: 70px;
    padding:0 0px;
    width: 97%;
  }
}
.displayModified{
  display: none;
}
/*  */
/*  */

