<div class="div__modify">
  <div class="content__title">
    <h2>Periodico</h2>
  </div>
  <div class="periodico__section">
    <section class="container__periodico--new">
      <form action="" (submit)="enviarForm($event,'periodicosDocs')">
        <div class="file-select"  id="src-file1">
          <input type="file" name="nombrePeriodico" aria-label="Archivo" (change)="seleccionarArchivo($event)" >
        </div>
        <div>
          <input type="submit" value="Añadir " class="btnBlue" >
        </div>
      </form>
    </section>
    <section class="periodico__container">
      <div class="periodico__card" *ngFor="let periodico of listaPeriodicos">
        <div class="periodico__card--img">
            <img src="../../../assets/imgs/WhatsApp Image 2023-02-16 at 10.52.35 PM.jpeg" alt="">
        </div>
        <div class="card__dates">
          <div>{{periodico.fecha}}</div>
          <div>
            <input type="button" value="Eliminar" class="btnBlue">
            <a href="{{periodico.url}}" target="_blank"><input type="button" value="Ver" class="btnBlue bg-blue" ></a>
          </div>
        </div>
      </div>



    </section>
  </div>
</div>
