<app-header></app-header>
<app-banner-default [title]="titlePeriodico"></app-banner-default>

<section class="periodico__container">
  <div class="periodico__card" *ngFor="let periodico of listaPeriodicos">
    <div class="periodico__card--img">
        <img src="https://firebasestorage.googleapis.com/v0/b/psicologiaconleila.appspot.com/o/pexels-edmond-dant%C3%A8s-7103129.jpg?alt=media&token=bdefaf7b-fada-4236-866b-bc3b637a925d" alt="">
    </div>
    <div class="card__dates">
      <div>{{periodico.fecha}}</div>
      <div>
        <a href="{{periodico.url}}" target="_blank"><input type="button" value="Ver" class="btnBlue bg-blue"></a>

      </div>
    </div>
  </div>

</section>
<app-footer></app-footer>
