<app-header></app-header>
<app-banner-default [title]="titlePeriodico"></app-banner-default>

<section class="periodico__container">
  <div class="periodico__card" *ngFor="let periodico of listaPeriodicos">
    <div class="periodico__card--img">
        <img src="https://firebasestorage.googleapis.com/v0/b/psicologiaconleila.appspot.com/o/WhatsApp%20Image%202023-02-16%20at%2010.52.35%20PM.jpeg?alt=media&token=57a73c08-0491-4a56-a1d6-65f77426e064" alt="">
    </div>
    <div class="card__dates">
      <div>{{periodico.fecha}}</div>
      <div>
        <a href="{{periodico.url}}" target="_blank"><input type="button" value="Ver" class="btnBlue bg-blue"></a>

      </div>
    </div>
  </div>

</section>
<app-footer></app-footer>
