<app-header></app-header>
<main>
    <section class="banner">
      <div class="banner__img">
        <img src="../../assets/imgs/banner1.jpg" alt="">
      </div>

      <div class="banner__text">
        <div>

          <h1 class="maquina-escribir">HORACIO ESTRADA</h1>
          <h2>Usaquen</h2>


          <div class="container__numerales">
            <div class="numeral__1">
              <span>#candiudatoPresidencia</span>
            </div>
            <div class="numeral__2">

              <span>#candiudatoPresidencia</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="promo-periodico ">
      <!-- <img src="../../../assets/imgs/periodico.jpg" /> -->
      <div class="centrado">
        <button class="btnDescargaPeriodicoActual" >
          <div>
            <h3>Descarga Periodico del mes</h3>
          </div>
          <div>

            <img src="../../../assets/imgs/periodico.png" alt="">
          </div>
          </button>
          </div>
    </div>
    <!-- <section class="promo-periodico">

        <img src="../../../assets/imgs/fondoVoto.jpg" alt="">
      <div>
        <div>
          <button class="btnDescargaPeriodicoActual" >
            Descarga Periodico del mes</button>
          </div>
          <div>
            <p>Ver mas periodicos</p>
          </div>
        </div>
    </section> -->
    <section class="quien-soy">
      <h2>Quien soy</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque magnam dignissimos corrupti ullam iste impedit eius, placeat dolorum nisi laboriosam soluta vel voluptatem explicabo ex aspernatur nostrum amet cum vitae sed harum. Cumque quos deserunt iste facere, excepturi placeat sapiente itaque, fugit, enim explicabo accusamus nihil odit maiores officiis expedita.</p>
    </section>
    <section class="me-dedico">
      <div>
        <div>
          <h2>¿A que me dedico?</h2>
        </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis placeat amet, totam, nisi non libero vitae consequuntur neque animi ducimus doloremque excepturi similique sed aliquam iusto minima delectus. Doloremque quae, possimus officiis quasi quis commodi. Quidem explicabo reprehenderit sint temporibus officia! Ab obcaecati deserunt totam animi unde ratione cumque necessitatibus!</p>
      </div>
      <section class="container__cards_helps">
        <div class="card__help">
            <img src="../../assets/imgs/ayudaImgCard.jpg" alt="">
        </div>
      </section>
    </section>
    <section>
      <div>
        <h2>noticias</h2>
      </div>
      <section>
        <div class="card__notice">
          <div>
            <img src="../../assets/imgs/conferencia.png" alt="">
          </div>
          <h3>Lorem, ipsum dolor.</h3>
          <p>20 septimbre 2023</p>
        </div>
      </section>


    </section>
    <section class="banner__footer">

    </section>


</main>
<app-footer></app-footer>
